Repository tiangolo/dockerswarm.rocks, pull requests merged in 2023-12, with the labels that each got.

#105 👷 Update Dependabot
  .github/dependabot.yml
Labels: internal

#109 👷 Deploy docs to Cloudflare
  .github/workflows/build-docs.yml
  .github/workflows/deploy-docs.yml
  docs/portainer.md
  docs/swarmpit.md
  docs/swarmprom.md
  docs/thelounge.md
  docs/traefik-v1/traefik-technical-details.md
  docs/traefik-v1/traefik.md
  docs/traefik.md
  mkdocs.yml
  pyproject.toml
Labels: internal

#111 📝 Update admonition syntax
  docs/portainer.md
  docs/swarmpit.md
  docs/swarmprom.md
  docs/thelounge.md
  docs/traefik-v1/traefik-technical-details.md
  docs/traefik-v1/traefik.md
  docs/traefik.md
Labels: internal

#112 🐛 Fix main branch for building docs
  .github/workflows/build-docs.yml
Labels: bug

#77 📝 Do not use real public IPs in docs
  README.md
  docs/index.md
Labels: docs

#113 🔧 Update Portainer
  docs/portainer.yml
Labels: docs

#93 ✨ Add Traefik v3 instructions
  docs/traefik-v3.yml
  docs/traefik.md
Labels: docs

#114 📝 Tweak Swarmpit to use a new CouchDB with support for ARM
  docs/swarmpit.md
  docs/swarmpit.yml
Labels: docs

#101 🐛 Fix `cadvisor` image in Swarmprom, use Google Registry
  docs/swarmprom.yml
Labels: docs
